# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django migrations
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*.py

# Virtual environment
venv/
env/
.venv/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# VS Code
.vscode/

# MacOS
.DS_Store

# Pytest
.pytest_cache/

# mypy
.mypy_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Pip
pip-log.txt
pip-delete-this-directory.txt

# Environment variable files
.env
.env.*

# Others
*.bak
*.swp
